@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #171717;
}

.wrapper {
    position: relative;
    width: 1460px;
    margin: 0 auto;
}

.header {
    margin-top: 46px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 216px;
    height: 33px;
}

.phone {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #D6AF76;
    margin-left: 750px;
}

button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #171717;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

a {
    text-decoration: none;
    color: #E4B564;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
}
p, div, span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
}

.text {
    width: 1182px;
    margin-top: 41px;
}

.container-work {
    width: 100%;
    margin-top: 41px;
    margin-bottom: 161px;
    display: grid;
    grid-template-areas:
      'a a b b c c'
      'd d d e e e';
    row-gap: 27px;
    text-align: center;
}

.item-work_1 {
    background: #634F2C;
    grid-area: a;
    width: 467px;
    height: 468px;
    padding-top: 220px;

}

.item-work_2 {
    background: #B4A385;
    grid-area: b;
    width: 467px;
    height: 468px;
    margin-left: 34px;
    padding: 206px 40px;
}

.item-work_3 {
    background: #E4B564;
    grid-area: c;
    width: 467px;
    height: 468px;
    padding-top: 220px;
    margin-left: 25px;
}

.item-work_4 {
    background: #635A4A;
    grid-area: d;
    width: 715px;
    height: 468px;
    padding-top: 220px;
}

.item-work_5 {
    background: #B08C4D;
    grid-area: e;
    width: 715px;
    height: 468px;
    padding-top: 220px;
    margin-left: 30px;
}

.container-technique {
    margin-top: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 255px 58px 126px 155px 303px;
    grid-auto-flow: column dense;
    margin-bottom: 363px;
}

.item-technique_1 {
    grid-row: span 2;
    width: 467px;
    height: 313px;
    padding-top: 44px;
    padding-left: 52px;
    background-color: #0E0E0E;
}

.item-technique_2 {
    background-color: #242424;
    padding-top: 56px;
    padding-left: 52px;
    margin-top: 24px;
    width: 467px;
    height: 560px;
    grid-row: span 3;
}

.item-technique_3 {
    background-color: #1F1F1F;
    padding-top: 44px;
    padding-left: 51px;
    margin-left: 30px;
    width: 467px;
    height: 439px;
    grid-row: span 3;
}

.item-technique_4 {
    background-color: #E4B564;
    color: #000000;
    grid-row: span 2;
    padding-top: 47px;
    padding-left: 52px;
    margin-left: 29px;
    margin-top: 33px;
    width: 467px;
    height: 405px;
}

.item-technique_5 {
    background-color: #1F1F1F;
    grid-row: span 1;
    padding-top: 44px;
    padding-left: 48px;
    margin-left: 29px;
    width: 467px;
    height: 255px;
}

.item-technique_6 {
    padding-top: 44px;
    padding-left: 48px;
    margin-left: 29px;
    margin-top: 26px;
    grid-row: span 3;
    background-color: #0E0E0E;
    width: 467px;
    height: 313px;
}

.item-technique_7 {
    background-color: #0A0909;
    padding-top: 44px;
    padding-left: 48px;
    margin-top: 26px;
    margin-left: 30px;
    grid-row: span 1;
    width: 467px;
    height: 277px;
}

.bc-footer {
    position: absolute;
    z-index: -1;
    right: -230px;
    bottom: 0;
    background-color: #0E0E0E;
    width: 1920px;
    height: 1054px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer button {
    padding: 10px 40px;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 1460px;
    height: 782px;
    justify-items: center;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 239px;
}

.item-footer_1, .item-footer_6 {
    background-color: #634F2C;
    width: 487px;
    height: 391px;
    padding: 171px 151px;
}

.item-footer_2 {
    display: flex;
    flex-direction: column;
    background-color: #E8D2ABC2;
    width: 486px;
    height: 391px;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
    text-align: center;
}

.item-footer_3, .item-footer_4 {
    background-color: #E4B564;
    width: 487px;
    height: 391px;
    padding: 174px 148px;
}

.item-footer_4 {
    background-color: #635A4A;
}

.item-footer_5 {
    background-color: #B08C4D;
    width: 487px;
    height: 391px;
    padding: 169px 183px;
}